/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

:root{
    --blue:rgb(0, 132, 253);
    --lightblue:rgb(181, 221, 255);
    --pink:rgb(151, 146, 228);
    --orange:rgb(253, 193, 95);
    --lightblack:rgb(51, 51, 51);
    --black:rgb(0, 0, 0);
    --white:rgb(255, 255, 255);
   
}
.debug{
    border: 1px solid black;
}
.d-flex{
    display: flex;
}

.conteiner{
    max-width: 400px;
    margin: 0 auto;
    
}

.text-aling{
    text-align: center ;
}

a{
    text-decoration: none;
}


/* header */
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem ;
    
}
.d-flex-menu{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    padding: 10px;  
    
}

nav{
    display: none;
}


/* main */

/* sezione1 */
.cont-cards{
    padding-top:3em; 
}

.card{
    background-color: var(--lightblue);
    border-radius: 10px;
    margin: 2em;
}

.card-big{
    background-color: var(--lightblue);
    border-radius: 10px;
    margin: 2em;
}

.card-h2{
    color: var(--blue);
    padding: 1em;
}
.card p{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.button1{
    margin-top: 3rem;
    border: 1px solid ;
    background-color: var(--blue);
    color: white;
    border-radius: 30px;
    padding: 0.5rem;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;

}

/* card1 */
.img-phone{
    float: inline-start;
    width: 250px;
    margin-top: 2em;
}

/* card2 */
.card .material-symbols-outlined {
    font-size: 100px;
    color: var(--blue);
    
}


/* sezione 2 */

.box-palanning1{
    width: 500px;
    margin: 0 auto;
}
.img-planning1{
    float: inline-start;
    width: 300px;  
}


.testo-sc2{
    padding: 3em;
}
.testo-sc2 h2{
    padding-bottom: 1em;
}



.img-planning2{
    float: inline-start;
    width: 200px;
}

.box-palanning2{
    background-color: var(--white);
    border-radius: 50px;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 2em;

}
.box-palanning2 h2{
    color: var(--black);
    padding: 2em;
}
.box-palanning2 p{
    color: #000;
    font-style: italic;

}
.box-palanning2 .material-symbols-outlined{
    color: var(--black);
    margin-top: 1em;
    font-size: 40px;
    border: 1px solid var(--pink);
    border-radius:50% ;
    background-color: var(--pink);
    
}



.bg-pink{
    background-color: var(--pink);
    color: var(--white);
    padding-bottom: 2em;
}

/* Sezione 3  */
.sez3{
    padding: 2em;
}
.sez3 h3{
    font-style: italic;
}
.sez3 h2{
    color: var(--pink);
    padding-top: 0.6em;
    padding-bottom: 1em;
}

.box-testimonial{
    background-color: var(--pink);
    border-radius: 50px;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    color: white;
    margin-top: 2em ;
    margin-bottom: 3em;

}

.testimonial1{
    float: inline-start;
    width: 200px;
    height: 200px;
    margin-top: 2em;
    border-radius: 50%;

}

/* sezione 4 */

.box-card-quality{
    background-color: var(--white);
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    color: white;
    margin-top: 2em ;
    margin-bottom: 3em;
    padding-top: 1em;
}

.box-card-quality h2{
    color: var(--pink);
    margin-left: 1em;
    font-size: 40px;
}
.box-card-quality h3{
    color: var(--pink);
    margin-left: 1em;

}
.box-card-quality p{
    color: var(--black);
    padding: 1em;
}
.button2{
    margin-top: 5rem;
    border: 1px solid ;
    background-color: var(--pink);
    color: white;
    border-radius: 30px;
    padding: 0.5rem;
    padding-left: 2em;
    padding-right: 2em;
    font-style: italic;
}

/* sezione5 */

h1{
    font-size: 50px;
    color: var(--pink);
    padding: 1em;

}

.about-p{
    margin-left: 4em;
    margin-right:4em ;
    padding-bottom: 3em;
}

.img-about{
    float: inline-start;
    width: 200px;
    height: 200px;
    margin-top: 2em;
    border-radius: 50%;
    margin-left: 2em;
}

.colorh2{
    color: var(--pink);
    padding: 1em;
}

.button3{
    color: var(--white);
    background-color: var(--pink);
    margin: 2em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
}

/* sezione6 */

.sez6{
    margin-top: 2em;
}
h1{
    color: var(--orange);
}

.sez6 h3{
    color: rgba(255, 255, 255, 0.601);
    padding-top: 2em;
    margin-bottom: 1em;
    padding:3em;
}

.button4{
    border: 1px  solid var(--black);
    background-color: var(--white);
    color: var(--pink);
    margin: 2em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
}


/* footer */

footer{
    background-color: var(--lightblack);
    color: white;
    padding-top: 3em;
}

/* media query */

@media screen and (min-width:700px) {
    .conteiner{
            max-width: 650px;
    }
   
    .d-flext{
        display: flex;
    }

    .card-big{
        width: calc(66%,66 - 2em);
    }

    .card{
        width: calc(33%,33 -2em);
    }

    .img-phone{
        width:310px ;
    }

    .box-palanning1{
        width:650px ;
    }

    .img-planning1{
        width: 600px;
    }

    .testo-sc2 h2{
        font-size: 3em;
        text-align: left;

    }

    .box-palanning2{
        width:650px ;
    }

    .img-planning2{
        width: 450px;
    }


    .box-testimonial{
        background-color: var(--pink);
        border-radius: 50px;
        width: 600px;
        margin: 0 auto;
        padding-bottom: 1em;
        color: white;
        margin-top: 2em ;
        margin-bottom: 1em;
        align-items: center;
    }

    .box-testimonial h2{
        text-align: left;
        padding-left: 0.7em;
        margin-top: 2em;

    }

    .tab{
        color: var(--pink);
    }
    
    .button3{
        display: inline-block;
        padding: 0,5em;
    }

    .button4{
        display: inline-block;
    }
}

/* media query dekstop */

@media screen and (min-width:1200px) {
    .conteiner{
        max-width: 1100px;
    }

    .box-palanning1{
        width:1050px ;
    }

    .img-planning1{
        width: 900px;
    }

    .testo-sc2 h2{
        font-size: 3em;
        text-align: left;

    }

    .box-palanning2{
        width:950px ;
    }

    .img-planning2{
        width: 800px;
    }
    

    .box-testimonial{
        width: 1000px;
       
    }


    .box-card-quality{
        width: 400px;
    }

    .sez6 h3{
        font-size: 1,5em;
    }
    .sez6 h2{
        font-size: 2em;
    }
    .sez6 h1{
        font-size: 4em;
    }
}